{% extends 'accounts/main.html' %}
{% block title %}
Customer
</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Customer: {{customer_id.name}}</h5>
            <hr>
            <a href="{% url 'update_customer' customer_id.id %}" class="btn btn-info btn-sm btn-block">Update Customer</a>
            <br>
            <a href= "{% url 'create_order' customer_id.id %}" class="btn btn-info btn-sm btn-block">Place Order</a>
            <br>
            <a class="btn btn-sm btn-danger" href="{%  url 'delete_customer' customer_id.id %}">Delete Customer</a>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Contact Information</h5>
            <hr>
            <p>Email: {{customer_id.email}}</p>
            <p>Phone: {{customer_id.phone_number}}</p>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Total Orders</h5>
            <hr>
            <h1 style="text-align: center; padding: 10px;">{{orders}}</h1>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form action="" method="get">
                {{order_filter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br>

<div class="class">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <th>{{product.product}}</th>
                        <th>{{product.product.category}}</th>
                        <th>{{product.date_created}}</th>
                        <th>{{product.status}}</th>
                        <td><a class="btn btn-sm btn-info" href="{% url 'update_order' product.id %}">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{%  url 'delete_order' product.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>
{% endblock %}
